
<div class="card text-white" id="searchCard">
	<form action="/restaurants" method="get">
		<h4 class="card-title d-flex justify-content-center my-2">Where are you going to eat?</h5>
		<fieldset class="mx-4 my-2">
			<label class="form-label" for="search">Search</label>
			<input class="form-control" type="text" placeholder="Search Restaurant" name="search" id="seach" value="<%= query.search %>">
		</fieldset>
		<fieldset class="mx-4">
			<div>
				<label class="form-label" for="location">Location</label>
				<input class="form-control" type="text" id="location" name="location" placeholder="Address or Zipcode" value="<%= query.location %>"><br>
				<a href="#" class="btn btn-warning btn-sm" id="find-me">Use my location</a><br/>
				<p id="status"></p>
			</div>
			<h6 class="card-title my-2">Search Radius</h5>

					<div class="row" id="distance">
						<div class="col-2">
							<div>
								<input type="radio" name="distance" id="distance10" value="10" <%= query.distance === '10' ? 'checked' : '' %>>
								<label for="distance25">10 Km</label>
							</div>
						</div>
						<div class="col-2">
							<div>
								<input type="radio" name="distance" id="distance25" value="25" <%= query.distance === '25' ? 'checked' : '' %>>
								<label for="distance50">25 Km</label>
							</div>
						</div>
						<div class="col-2">
							<div>
								<input type="radio" name="distance" id="distance50" value="50" <%= query.distance === '50' ? 'checked' : '' %>>
								<label for="distance100">50 Km</label>
							</div>
						</div>
						<div class="col-6">

						</div>
					</div>												
					<div>
						<a href="#" class="text-white" id="clear-distance">Clear</a>
					</div>
				</fieldset>
				<fieldset class="mx-4 my-2">
					<h6 class="card-title my-2">Price:</h5>
					<label for="min">Min</label>
					<input type="number" id="min" name="price[min]" min="0" max="10000" step="1" placeholder="Min" value="<%= query.price ? query.price.min : '' %>">
					<label for="max">Max</label>
					<input type="number" id="max" name="price[max]" min="0" max="10000" step="1" step="1" placeholder="Max" value="<%= query.price ? query.price.max : '' %>">
				</fieldset>	
		<div class="d-grid gap-2 mx-4">
			<input class="btn btn-primary btn-sm mb-3" type="submit" value="Find Restaurant">
		</div>
	</form>
	<script src="javascripts/use-my-location.js"></script>
</div>
