<% layout('layouts/boilerplate') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <%- include('../partials/searchFilter') %> 
    </div>
    <div class="col-8">
      <div id="map" class="clusterMap"></div>
    </div>
  </div>
</div>

<h1>All Restaurants</h1>
    <% for(let restaurant of restaurants.docs){ %> 
     <div class="card mb-3">
        <div class="row">
          <div class="col-md-4">
            <!-- client and back end validation done but we can add this extra step -->
            <%if(restaurant.images.length){%> 
            <img src="<%= restaurant.images[0].url %>" alt="" class="img-fluid">
            <%} else {%> 
              <img src="/images/backupRest.jpg" alt="" class="img-fluid">
              <%}%> 
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= restaurant.title %></h5>
              <p class="card-text"><%= restaurant.description%></p>
              <p class="text-muted"><%= restaurant.location %></p>
              <a href="/restaurants/<%= restaurant._id %>" class="btn btn-primary">View <%= restaurant.title %></a>
            </div>
          </div>
        </div>
     </div>
    <% }%> 
     
    <%- include('../partials/pagination') %> 

    <script> 
      const mapBoxToken = '<%-process.env.MAPBOX_TOKEN%>';
      const restaurants = {features: <%- JSON.stringify(allRestaurants) %>}; 
    </script>
    <script src="javascripts/clusterMap.js"></script>