<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row">
  <div class="col-6">
    <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% restaurant.images.forEach((img, i) => { %> 
        <div class="carousel-item <%= i === 0 ? 'active' : ''  %>">
          <img src="<%= img.url %>" class="d-block w-100" alt="">
        </div>
        <% }) %> 
      </div>
      <% if(restaurant.images.length > 1){ %> 
      <a class="carousel-control-prev" href="#carouselControls" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
      <% } %> 
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= restaurant.title %></h5>
        <p class="card-text"><%= restaurant.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted">Location: <%= restaurant.location %></li>
        <li class="list-group-item">Average Meal Price: €<%= restaurant.price %></li>
        <li class="list-group-item">Type of food: Fusion</li>
        <li class="list-group-item">Restaurant Rating: <span id="avgRating"><%= restaurant.avgRating %></span>
        <% for(let i = 0; i < 5; i++) { %> 
          <% if(i < floorRating){ %> 
            <i class="fas fa-star"></i>
          <% } else if((restaurant.avgRating - i) > 0 && (restaurant.avgRating - i) < 1) { %> 
            <i class="fas fa-star-half-alt"></i>
          <% } else { %> 
            <i class="far fa-star"></i>
          <% } %> 
        <% } %> 
        </li>
      </ul>
      <% if(currentuser && restaurant.author.equals(currentuser._id)){ %> 
      <div class="card-body">
        <a href="/restaurants/<%= restaurant._id%>/edit" class="card-link btn btn-info">Edit</a>
        <form class="d-inline" action="/restaurants/<%= restaurant._id%>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <% } %> 
      <div class="card-footer text-muted">
        <p>Created by <%= restaurant.author.username %> on <%= restaurant.dateCreated%> </p>
        <!-- If reviewing didn't affect Restaurant Updated Date: <%- (restaurant.created_at === restaurant.updatedAt) ? 'Created by' : 'Edit by'%> <%= restaurant.author.username %> on <%= restaurant.dateEdited%> -->
      </div>
    </div>
  </div>
  <div class="col-6">
    <div id='map' class="showMap mb-3"></div>
    <% if(currentuser){ %> 
    <h2>Leave a Review</h2>
    <form action="/restaurants/<%= restaurant._id%>/reviews" method="POST" class="mb-3 validated-form" id="reviewForm" novalidate>
      <div class="mb-3">
        <fieldset class="starability-grow">
          <legend>Rating:</legend>
          <input type="radio" id="rate0" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
          <input type="radio" id="rate1" name="review[rating]" value="1" />
          <label for="rate1" title="Terrible">1 star</label>
          <input type="radio" id="rate2" name="review[rating]" value="2" />
          <label for="rate2" title="Not good">2 stars</label>
          <input type="radio" id="rate3" name="review[rating]" value="3" />
          <label for="rate3" title="Average">3 stars</label>
          <input type="radio" id="rate4" name="review[rating]" value="4" />
          <label for="rate4" title="Very good">4 stars</label>
          <input type="radio" id="rate5" name="review[rating]" value="5" />
          <label for="rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Review</label>
        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
        <div class="valid-feedback"> Looks good!</div>
      </div>
      <button class="btn btn-success">Add Review</button>
    </form>
    <% } %> 
    <% for(let review of restaurant.reviews) {%> 
      <div class="mb-3 card">
        <div class="card-body">
          <h5 class="card-title"><%= review.author.username %></h5>
            <p class="starability-result" data-rating="<%=review.rating%>">
                Rated: <%=review.rating%> stars
            </p>
            <div class="row">
              <div class="col-3">
                <img src="<%- (!review.author.image.length) ? '/images/profileRandom.jpg' : review.author.image[0].url %>" class="img-fluid mx-auto mb-1" style="max-height: 100px" alt="">
                <p class="userType">Level:
                  <% if(!review.author.reviews.length || review.author.reviews.length < 10){ %>
                    Rookie
                  <% } else if(review.author.reviews.length > 9 && review.author.reviews.length < 25){ %>
                    Professional  
                  <% } else if(review.author.reviews.length > 24 && review.author.reviews.length < 50){ %>
                    Food Critic
                  <% } else if(review.author.reviews.length > 49 && review.author.reviews.length < 100){ %>
                    Connoisseur
                  <% } else if(review.author.reviews.length > 100){ %>
                    Michelin Inspector
                  <% } %>    
                </p>
              </div>
              
              <p class="card-text col-9">Review: <%= review.body %> </p>

            </div>
          <p class="card-subtitle mt-3 mb-2 text-muted"><%= review.reviewDate%></p>
          <% if(currentuser && review.author.equals(currentuser._id)){ %>
          <div class="row">

            <div class="col-2">
              <form action="/restaurants/<%= restaurant._id%>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Delete</button>
                </form>
            </div>


              <div class="card d-md-block col-10" id="editCard">
                <button class="btn btn-sm btn-warning toggle-edit-form">Update</button>
                <form action="/restaurants/<%= restaurant._id%>/reviews/<%= review._id %>?_method=PUT" method="POST" class="mb-3 validated-form edit-review-form" id="reviewForm" novalidate>
                  <div class="mb-3">
                    <fieldset class="starability-grow">
                      <legend>Rating:</legend>
                      <input type="radio" id="edit-rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                      <input type="radio" id="edit-rate1" name="review[rating]" value="1" />
                      <label for="edit-rate1" title="Terrible">1 star</label>
                      <input type="radio" id="edit-rate2" name="review[rating]" value="2" />
                      <label for="edit-rate2" title="Not good">2 stars</label>
                      <input type="radio" id="edit-rate3" name="review[rating]" value="3" />
                      <label for="edit-rate3" title="Average">3 stars</label>
                      <input type="radio" id="edit-rate4" name="review[rating]" value="4" />
                      <label for="edit-rate4" title="Very good">4 stars</label>
                      <input type="radio" id="edit-rate5" name="review[rating]" value="5" />
                      <label for="edit-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="body">Update Review to:</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required><%= review.body %></textarea>
                    <div class="valid-feedback"> Looks good!</div>
                  </div>
                  <button class="btn btn-success">Update Review</button>
                </form>
                <script>
                  document.getElementById('edit-rate<%= review.rating %>').checked = true;
                </script>
              </div>
          </div> 
          <% } %> 
       </div>
      </div>
      <% } %> 
  </div>
</div>

<script> 
  const mapBoxToken = '<%-process.env.MAPBOX_TOKEN%>';
  const restaurantInfo = <%- JSON.stringify(restaurant)%>;
</script>
<script src="/javascripts/maps.js"></script>
<script src="/javascripts/toggleReview.js"></script>











